{% extends 'base.html.twig' %}

{% block page_title %}
    Pages Vertes | Utilisateurs
{% endblock %}

{% block cssSupplementaire %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/listeUtilisateurs.css') }}">
{% endblock %}

{% block jsSupplementaire %}
    <script type="text/javascript" src="{{ asset('js/listeUtilisateur.js') }}" defer></script>
{% endblock %}


{% block page_content %}
    <div class="onglet1">
        <h1>Parcourir</h1>
    </div>

    <script>
        const imgDroite = "{{ asset('img/droite.png') }}";
    </script>

    <div class="parcourirAccueil">

        <div>
            <h2>Parcourez les profils <span class="greenText">publics</span> et recherchez des <span class="greenText">utilisateurs</span>.
            </h2>
            <h4 class="light">Utilisez la <span class="greenText">barre de recherche</span> pour trouver un profil parmi
                les comptes publics et privés, et parcourez les différents profils publics.</h4>
        </div>

        <img class="illu" src="{{ asset('img/illuRechercher.png') }}" alt="">

    </div>

    {{ form_start(form, {'attr': {'class': 'recherche'}}) }}
    <label for="recherche">Rechercher un <span class="greenText">utilisateur</span> :</label>
    {{ form_widget(form.code) }}

    {{ form_widget(form.rechercher) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="gridListe">

        {% for utilisateur in utilisateursVisible %}
            {{ include('utilisateur/infosUtilisateurs.html.twig', {'utilisateur' : utilisateur}) }}
        {% else %}
            <p> Il n'y a aucun utilisateur </p>
        {% endfor %}


    </div>

{% endblock %}