<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
    {% block cssSupplementaire %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
    <script type="text/javascript" src="{{ asset('js/visuels.js') }}" defer></script>
    {% block jsSupplementaire %}{% endblock %}
</head>

<nav onclick="afficherMenu()">
    <span></span>
    <span></span>
    <span></span>
</nav>

<body>

<div class="flash" id="flash">

    {% for message in app.flashes('success') %}
        <div class='alert alert-success'>
            <img src='{{ asset("img/success.png") }}' alt='icone'>
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class='alert alert-warning'>
            <img src='{{ asset("img/warning.png") }}' alt='icone'>
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class='alert alert-danger'>
            <img src='{{ asset("img/danger.png") }}' alt='icone'>
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.flashes('info') %}
        <div class='alert alert-info'>
            <img src='{{ asset("img/info.png") }}' alt='icone'>
            <p>{{ message }}</p>
        </div>
    {% endfor %}

</div>

<script>
    let soleilImageURL = "{{ asset('img/soleil.png') }}";
    let luneImageURL = "{{ asset('img/lune.png') }}";
    let autoImageURL = "{{ asset('img/auto.png') }}";
</script>

<div class="separator">

    <div class="bandeau">

        <div class="wrapLogo">
            <div class="wrapActionsBandeau">
                <img class="close invertLight" src="{{ asset('img/x.png') }}" alt="" onclick="cacherMenu()">
            </div>

            <a class="logo" href="{{ path('pages_vertes') }}">
                <img src="{{ asset('img/logo.png') }}" alt="">
            </a>

            <div class="switchLight">
                <div class="switch_3_ways_v2">
                    <div id="monthly2" class="switch2 monthly" onclick="change_period2('clair')"><img
                                src="{{ asset('img/soleil.png') }}" alt=""></div>
                    <div id="semester2" class="switch2 semester" onclick="change_period2('auto')"><img
                                src="{{ asset('img/auto.png') }}" alt=""></div>
                    <div id="annual2" class="switch2 annual" onclick="change_period2('sombre')"><img
                                src="{{ asset('img/lune.png') }}" alt=""></div>
                    <div id="selector" class="selector"></div>
                </div>
            </div>
        </div>

        <div class="wrapElements">

            <a class="element{% if page_actuelle == 'Accueil' %} active {% endif %}" href="{{ path('pages_vertes') }}">
                <img src="{{ asset('img/accueil.png') }}" alt="">
                <p>Accueil</p>
            </a>

            <a class="element{% if page_actuelle == 'Search' %} active {% endif %}" href="{{ path('pages_vertes') }}">
                <img src="{{ asset('img/utilisateur.png') }}" alt="">
                <p>Parcourir</p>
            </a>

            <a class="element {% if page_actuelle == 'Credits' %} active {% endif %}" href="{{ path('credits') }}">
                <img src="{{ asset('img/credits.png') }}" alt="">
                <p>Crédits - Sources</p>
            </a>

            {% if is_granted('ROLE_USER') %}
                <a class="element {% if page_actuelle == 'Profil' %} active {% endif %}">
                    <img src="{{ asset('img/utilisateur.png') }}" alt="">
                    <p>Mon profil</p>
                </a>
            {% endif %}

        </div>

        <div class="actionsUtilisateur">
            {% if not is_granted('ROLE_USER') %}
                <a class="element{% if page_actuelle == 'Connexion' %} active {% endif %}">
                    <img src="{{ asset('img/profil.png') }}" alt="">
                    <p>Connexion</p>
                </a>
                <a class="element {% if page_actuelle == 'Inscription' %} active {% endif %}">
                    <img src="{{ asset('img/inscription.png') }}" alt="">
                    <p>Inscription</p>
                </a>
            {% else %}
                <a class="element{% if page_actuelle == 'Deconnexion' %} active {% endif %}">
                    <img src="{{ asset('img/se-deconnecter.png') }}" alt="">
                    <p>Déconnexion</p>
                </a>
            {% endif %}
        </div>


    </div>

    <div class="other">
        {% block page_content %}
        {% endblock %}
    </div>

</div>

</body>
</html>